@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:500|Montserrat:300|Roboto:100');

:root{
    --azul: #438EC8;
    --negro: #222020;
    --blanco: #FCFCFC;
    --grisoscuro: #898888;
    --gris: #BFBFBF;
    --petroleo: #1F4C68;
}
@font-face {
  font-family: garamond;
  src: url('garamond.ttf');
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}
body{
    font: 14px/1.4 Georgia, Serif; 
    background-color: #FBFBFB;
}

header{
    background-color:   B9BDBD;
    
}
header h1{
    display: block;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    color:whitesmoke;
    margin: 0;
}
h2{
    color: black;
}
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}   


table { 
    font-size:200%;
    border-collapse: separate;
      border-spacing: 10px 5px;
}
td, th { 
    text-align: center;
    border: solid 1px;
    border-color: 33FFF9;
}
tr td { 
    height:10%;
    width:100%;
    border-top-right-radius: 10%;               
    border-top-left-radius: 10%; 
    border-bottom-left-radius: 10%; 
    border-bottom-right-radius: 10%;
    
}
.cuerpo{
    font-style:italic;
    background-color: E9EEEE;
    color: g;
}
.primera{
    color: white;
    background-color: B9BDBD;
}

p{
    font-style:oblique;
    font-family: 'Montserrat', sans-serif;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 110%;
}



button{
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
    color: white;
    background-color: 3FC6F1;
    border-radius: 15px;
    border: 3px double #006505;
}
button:hover{
    transition:0.3s linear;
    background-color: gainsboro;
}

.noposible button{
    color:#ffffff;
    height:45px;
    width:90px;
    background-color:#52674f;
    border:0;
    border-radius:3px;
    cursor: pointer;
    font-size:12px;
    font-family: 'Libre Franklin', sans-serif;
}

div::after,
.clearfix::after,
.clear::after{
    clear: both;
    visibility: hidden;
    content: "";
    display: block;
}

.footer{
    background-color:var(--negro);
    width: 100%;
    height: 50px;
    bottom: 0;
    position: fixed;
    text-align: center;
    color: #000;
}
.contenedor-inputs{
    visibility:;
}


.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popu btn-abrir-popup{
    margin:0;
    border:0;
    
}
.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
    
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.form__titulo{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    
    
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}
/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}
@media only screen
	and (min-device-width : 320px)
	and (max-device-width : 480px) {
		body { 
			padding: 0; 
			margin: 0; 
			width: 320px; }
		}
	
	/* iPads (portrait and landscape) ----------- */
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		body { 
			width: 495px; 
		}
	}
	#page-wrap {
	margin: 50px;
}