@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:500|Montserrat:300|Roboto:100');

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Roboto+Slab&display=swap');

:root{
    --azul: #438EC8;
    --negro: #222020;
    --blanco: #FCFCFC;
    --grisoscuro: #898888;
    --gris: #BFBFBF;
    --petroleo: #1F4C68;
}
@font-face {
  font-family: garamond;
  src: url('garamond.ttf');
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}
body{
    font: 14px/1.4 Georgia, Serif; 
    background-color: #FBFBFB;
}
/*

.header{
    grid-area: header;
    background: rgba(0,0,0,0.75);
    padding: 10px; 0px;
    display: grid;
    position: static;
    width: 100%;
    height: 10%;
}
.header__b{
    font-size: 20px;
    font-family: 'Libre Franklin', sans-serif;
    color:whitesmoke;
    display: inline;
    width: 100px;
    height: 1000px;
}
.header__b__cerrar{
     text-align: right;
    height: 1000px;
    width: 100px;
     color:whitesmoke;
     display: inline;
}

*/
header {
	width:100%; /* Establecemos que el header abarque el 100% del documento */
    height: 100px;
	overflow:hidden; /* Eliminamos errores de float */
	background:#252932;
	margin-bottom:20px;
}
 
.wrapper {
	width:90%; /* Establecemos que el ancho sera del 90% */
	max-width:1000px; /* Aqui le decimos que el ancho máximo sera de 1000px */
	margin:auto; /* Centramos los elementos */
	overflow:hidden; /* Eliminamos errores de float */
}
 
header .logo {
	color:#f2f2f2;
	font-size:50px;
	line-height:100px;
	float:left;
}
 
header nav {
	float:right;
	line-height:100px;
}
 
header nav a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}
 
header nav a:hover {
	background:#889ccf;
	border-radius:50px;
}


.header2 { 
	position: fixed;
	height:100px;
}
 
.header2 .logo {
	line-height:100px;
	font-size:30px;
}
 
.header2 nav {
	line-height:100px;
}
@media screen and (max-width: 950px) {
	header .logo,
	header nav {
		width:100%;
		text-align:center; /*Centramos el menu y el logotipo*/
		line-height:100px;
	}
 
	.header2 {
		height:auto;
	}
 
	.header2 .logo,
	.header2 nav {
		line-height:50px;
	}
}
table { 
    font-size:200%;
    border-collapse: separate;
    border-spacing: 1vw 0.5vh;
    font-weight: bold;
}
.tabla-arriba{
    color: white;
    background-color: #B9BDBD;
    text-align: center;
    
}
.tabla-arriba__profesor{
    width: 45%;
}
.tabla-arriba__titulo{
    width: 25%;
}
.tabla-arriba__materia{
    width: 25%;
}
tr td { 
    border-top-right-radius: 10%;               
    border-top-left-radius: 10%; 
    border-bottom-left-radius: 10%; 
    border-bottom-right-radius: 10%;
    
}

.cuerpo{
    font-style:italic;
    background-color: #EEEEE9;
}


.hi { 
    font-size: 1vw 0.75vh;
    text-align: center;
    border: solid 1px;
    border-color: white;
     color: 4C5050;
    font-family: 'Kumbh Sans', sans-serif;

    }
.hi:hover { 
    transition:0.3s;    
    border-color: white;
     animation: mymove 3s infinite;
}
.hi__boton{
   background-color: white; 
}
.titulo{
    font-family: Century Gothic,CenturyGothic,AppleGothic;
    color: #ffffff;
    font-size: 3vh;
    text-align: center;
    background: #889ccf;
    overflow: hidden;
    padding: 3vh;
    border-radius: 35px 0px 35px 0px;
    border: 2px solid #5878ca;
    font-weight: bold;
}

@keyframes mymove {
  0%   {color: #B9BDBD;}

  50%  {color:  #EEEEE9 ;}
 
  75% {color: #B9BDBD;}
}

button{
    cursor: pointer;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
    color: white;
    background-color: #889ccf;
    border-bottom-color: #889ccf;
    border-radius: 15px;
    border: 0px;

}
button:hover{
    transition:0.3s linear;
    color: #889ccf;
    background-color: gainsboro;
}




.footer{
    background-color: #B9BDBD;
    width: 100%;
    height: 50px;
    bottom: 0;
    position: fixed;
    text-align: center;
    color: #000;
}
.contenedor-inputs{
    visibility:;
}




.form__titulo{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    
    
}

