@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:500|Montserrat:300|Roboto:100');

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Roboto+Slab&display=swap');

:root{
    --azul: #438EC8;
    --negro: #222020;
    --blanco: #FCFCFC;
    --grisoscuro: #898888;
    --gris: #BFBFBF;
    --petroleo: #1F4C68;
}
@font-face {
  font-family: garamond;
  src: url('garamond.ttf');
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}
body{
    font: 14px/1.4 Georgia, Serif; 
    background-color: #FBFBFB;
}

.header{
    background-color: #B9BDBD;
    width: 100vw;
  
}
.header__h1{
    text-align: 100vw;
    display: block;
    font-family: 'Libre Franklin', sans-serif;
    color:whitesmoke;
    margin: 0;
}
h2{
    color: black;
}


table { 
    font-size:200%;
    border-collapse: separate;
      border-spacing: 1vw 0.5vh;
}
.tabla-arriba{
    color: white;
    background-color: B9BDBD;
    text-align: center;
}
.taqbla-arriba_b {
    text-align: center; 
}
.hi { 
    text-align: center;
    border: solid 1px;
    border-color: white;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
}
tr td { 
    height:10%;
    width:100%;
    border-top-right-radius: 10%;               
    border-top-left-radius: 10%; 
    border-bottom-left-radius: 10%; 
    border-bottom-right-radius: 10%;
    
}
.hi:hover { 
    transition:0.3s linear;
    color: red;
	height: 7vh;
}
.cuerpo{
    font-style:italic;
    background-color: E9EEEE;
    color: g;
}

.titulo{
    font-family: Century Gothic,CenturyGothic,AppleGothic;
    color: #ffffff;
    font-size: 2vh;
    text-align: center;
    background: #889ccf;
    overflow: hidden;
    padding: 3vh;
    border-radius: 35px 0px 35px 0px;
    border: 2px solid #5878ca;
}



button{
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
    color: white;
    background-color: 3FC6F1;
    border-radius: 15px;
    border: 3px double #006505;
}
button:hover{
    transition:0.3s linear;
    background-color: gainsboro;
}

.noposible button{
    color:#ffffff;
    height:45px;
    width:90px;
    background-color:#52674f;
    border:0;
    border-radius:3px;
    cursor: pointer;
    font-size:12px;
    font-family: 'Libre Franklin', sans-serif;
}


.footer{
    background-color:var(--negro);
    width: 100%;
    height: 50px;
    bottom: 0;
    position: fixed;
    text-align: center;
    color: #000;
}
.contenedor-inputs{
    visibility:;
}




.form__titulo{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    
    
}

