:root{
    --marron1:#A7906D;
    --violeta1:#705A7C;
    --azul1:#5A687C;
    --verde1:#5A7C7A;
    --rojo1:#7C5F5A;
    --fondo:#CFCFCF;
    --fondointerior:#E8E8E8;
}

/*fuentes*/

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/*font-family: 'Lato', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Saira:wght@500&display=swap');
/*font-family: 'Saira', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
/*font-family: 'Hammersmith One', sans-serif;
*/


/*fuentes*/


*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}

body{background-color:#3D4558; }

header{
    text-align: center;
    height:70px;
    
}

header h1{
    padding-top: 5px;
}
.bienvenido{
    font-family: 'Hammersmith One', sans-serif;
    color: white;
}

.contenedor_principal{
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 30px;
    text-align: center;
    background-color:#353B4A;
}
.cuadros{
    margin-top: 25px;
}

.opciones{
    margin: 20px;
    padding: 0;
    text-align: center;
    width:300px;
    height: 300px;
    border: 0;
    border-color:;
    border-radius:15px;
    cursor: pointer;
    background-color:#3D4558;
}
.opciones:hover{
    background:rgba(0,0,0,0.3);
   
}

.opciones h2{
    font-family: 'Saira', sans-serif;
    margin-top:120px;
    position: relative;
    font-size:2.3rem;
    
}
.opciones p{
    font-size:1.4rem;
    opacity: 0%;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}
.opciones:hover p{
    transition: .4s linear;
    opacity: 100%;
}
.opciones:hover h2{
    animation:opciones 0.8s linear;   
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 30px;
}


@keyframes opciones {
    from{
        top:120px;
    }
    
    to{
        top:0px;
        margin-top:15px;
    }
} 










.footer{
    width: 100vw;
    height: auto;
    bottom: 0;
    position:fixed;
    background-color: #252932;
}
.footer footer{
    height: 2rem;
}
