*     {
    margin:0;
    padding: 0;
}

.contendor_principal{
    width: 100%;
    height: auto;
    background-color: blue;
    margin-bottom: 20px;
    margin: 0!important;
    padding: 0!important;
}
 .peticiones{
    margin:5px;
    height:80vh;
    background-color: aqua;
    overflow-y: auto;
    
}
.alu_aceptados{
    margin:5px;
    height:80vh;
    background-color: aqua;
    overflow-y: auto;
}

.contenedor-tabla{
    height:auto;
    background-color: red;
    margin:5px;
    padding: 5px;
}