*{
    margin: 0;
    padding: 0;
}
header{
    background: black;
    width: 100%;
    height: 100px;
    text-align: center;
}
h2{
    color: gray;
    padding-top: 25px;    
}
h3{
    color: gainsboro;
    top: 100px;
}
a{
    text-decoration: none;
}
.container{
    background-color: transparent;
    width: 80%;
    height: 75%;
    margin: 20px;
    padding: 0;
    
    display: inline-block;
    text-align: center;
    border: 1px solid;
    border-radius:15px;
}