*{
    margin: 0px;
}
header{
    background-color:black;
    
}

header h1{
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    color:whitesmoke;
    margin: 0;
}



a:hover{
    color: #ffffff;
    background-color: #0058ff;
    font-size: 22px;
    text-decoration: none;
    font-family: monospace;
}
.button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    min-width: 11rem;
    margin: 100px;
    line-height: 3;
    border: 1px solid #007FFF;
    border-radius: 2px;
    color: #007FFF;
    text-decoration:none;
    font-size: 20px;
    font-family: sans-serif;
    transition: background-color,.17s;
  
}
footer{
    margin-top:100px;
}
