
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

.mensaje {
    color: #fff;
    font-family: montserrat;
    font-size: 30px;
    background: #889ccf;
    margin: 12px;
    padding: 12px 20px ;
    border-radius: 20px;
    display: inline;
}
.curso, #curso{
    text-align: center;
    padding: 13px;
    margin: 17px;
    font-family: montserrat;
    font-size: 20px;
    border-color: aquamarine;
    display: inline;
    border-radius: 10px;
    
}
.content__form, .button {
    padding: 13px ;
    font-family: montserrat;
    font-size: 20px;
    border-color:  aquamarine;
    display: inline;
    margin: 17px;
    border-radius: 10px;
}
#datos, #datos1{
    display: inline;
}
li{
    display: inline;
}