
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');
*{
    margin: 0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:500|Montserrat:300|Roboto:100');

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Roboto+Slab&display=swap');

@font-face {
  font-family: garamond;
  src: url('garamond.ttf');
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}
html { height: 100%; }
body{
    font: 14px/1.4 Georgia, Serif; 
    background-color: #FBFBFB;
    background-color: #EEEEE9;
}
.contenedor{
  background-color: FFFFFF;
  width: 60%;
  height:  auto;
  border: black 3px solid;
  padding: 50px;
    padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
     border-radius: 20px;
}
.texto-borde {

    font-size: 40px;
-webkit-text-fill-color: white;
-webkit-text-stroke: 1px black;
  
}

.curso, #curso{
    text-align: center;
    padding: 13px;
    margin: 10px;
    font-family: montserrat;
    font-size: 20px;
    border-color: #EEEEE9;
    display: inline;
    border-radius: 10px;
        width: 40%;
    height: 10%;
}
.content__form {
    
    padding: 0px ;
    font-family: montserrat;
    font-size: 20px;
    border-color: #EEEEE9;
    display: inline;
    margin: 17px;
    border-radius: 10px;
    
    width: 40%;
    height: 10%;
}
.button{
    display: block;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    color: #7f8c8d;
    font-size: 20px;
    border: 0.15em solid #7f8c8d;
    width: 40%;
    height: 10%;
}
.button:hover {
    cursor: pointer;
    transition: 1.5s;
    color: white;
    background-color: #7f8c8d;

}
#datos, #datos1, #datos2{
    display: inline;
}
li{
    display: inline;
}
.a{
   text-decoration: none;
}
