:root{
    --marron1:#A7906D;
    --violeta1:#705A7C;
    --azul1:#5A687C;
    --verde1:#5A7C7A;
    --rojo1:#7C5F5A;
    --fondo:#CFCFCF;
    --fondointerior:#E8E8E8;
}

/*fuentes*/

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/*font-family: 'Lato', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Saira:wght@500&display=swap');
/*font-family: 'Saira', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
/*font-family: 'Hammersmith One', sans-serif;
*/
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:500|Montserrat:300|Roboto:100');

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Roboto+Slab&display=swap');


/*fuentes*/


*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    
}
a{
    text-decoration: none;
    color: white;
}

body{
    background-color:var(--fondo); 
    
}


.bienvenido{
   // font-family: 'Hammersmith One', sans-serif;
    
}

.contenedor_principal{
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 30px;
    text-align: center;
    background-color: var(--fondointerior);
    border-radius:15px;
}
.cuadros{
    margin-top: 25px;
}

.opciones{
    margin: 20px;
    padding: 0;
    text-align: center;
    width:300px;
    height: 300px;
    border: 1px solid;
    cursor: pointer;
    border-radius:15px;
}

.opciones h2{
    font-family: 'Saira', sans-serif;
    margin-top:110px;
    position: relative;
    font-size: 40px;
    border-style: hidden;
    -webkit-text-stroke: 1px black;
}
.opciones p{
    font-x: ;size:25px;
    opacity: 0%;
    text-decoration: none
}
.opciones:hover p{
    animation: mymove 0.5s;
}
@keyframes mymove {
  0%   {opacity: 0%;}

  50%  {opacity: 0% ;}
 
  100% {opacity: 100%;}
}
.opciones:hover h2{
    animation:opciones 0.4s linear;   
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 30px;
}
.opciones:hover p{
    opacity: 100%;
}

@keyframes opciones {
    from{
        top:120px;
    }
    to{
        top:0px;
        margin-top:15px;
    }
} 

.contenido {
    background-color: #1BDBFA;
    border-color: black;
    font-family: 'Lato', sans-serif;
}


.clases{
    background-color: #B6B6B6;
    border-color: black;
    font-family: 'Lato', sans-serif;
}

.cargar_clase{
     background-color: #B6B6B6;
    border-color: black;
    font-family: 'Lato', sans-serif;
}
.indefinido{
    background-color: #1BDBFA;
    border-color: black;
    font-family: 'Lato', sans-serif;
}